<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../libs/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>

  <body>

    <!-- HEADER -->

    <ul id="nav">
      <li class="nav-logo">
        <a href="#">
          <div style="display: inline-block">
            <img class="nav-logo-image" src="../images/shopStopLogo.png">
          </div>
          <div class="centerElem" style="display: inline-block">
            <p><span class="fontBold logoText">SHOP</span><br><span class="fontLight logoText">STOP</span></p>
          </div>
        </a>
      </li>

      <li class="nav-search nav-menu">
        <a href="#">
          <img class="centerElem" src="../images/searchImage.png">
        </a>

        <div class="nav-search-dropdown">
          <img class="rectangle-icon" src="../images/rectangleIcon.png">
          <input type="text" placeholder="Encuentra lo que estás buscando">
          <button href="#" class="nav-search-btn"> BUSCAR </button>
        </div>
      </li>

      <li class="nav-last nav-menu">
        <a href="#">
          LO ÚLTIMO
          <br>
          <img src="../images/plusIcon.png">
        </a>

        <div class="nav-item-list nav-last-list">
          <ul>
            <li>ITEM 1</li>
            <li>ITEM 2</li>
          </ul>
        </div>
      </li>


      <li class="nav-home nav-menu">
        <a href="#">
          HOGAR
          <br>
          <img src="../images/plusIcon.png">
        </a>

        <div class="nav-item-list nav-home-list">
          <ul>
            <li>HOGAR ITEM 1</li>
            <li>HOGAR ITEM 2</li>
          </ul>
        </div>
      </li>

      <li class="nav-tecno nav-menu">
        <a href="#">
          TECNO
          <br>
          <img src="../images/plusIcon.png">
        </a>

        <div class="nav-item-list nav-tecno-list">
          <ul>
            <li>TELÉFONOS CELULARES</li>
            <li>TABLETS</li>
            <li>CONSOLAS Y VIDEOJUEGOS</li>
            <li>SMART TVs</li>
          </ul>
        </div>
      </li>

      <li class="nav-vogue nav-menu">
        <a href="#">
          MODA
          <br>
          <img src="../images/plusIcon.png">
        </a>

        <div class="nav-item-list nav-vogue-list">
          <ul>
            <li>MODA ITEM 1</li>
            <li>MODA ITEM 2</li>
          </ul>
        </div>
      </li>

      <li class="nav-hobbies nav-menu">
        <a class="active" href="#">
          HOBBIE
          <br>
          <img src="../images/plusIcon.png">
        </a>

        <div class="nav-item-list nav-hobbies-list">
          <ul>
            <li>HOBBIE ITEM 1</li>
            <li>HOBBIE ITEM 2</li>
          </ul>
        </div>
      </li>

      <li class="nav-sports nav-menu">
        <a href="#">
          DEPORTES
          <br>
          <img src="../images/plusIcon.png">
        </a>
        
        <div class="nav-item-list nav-sports-list">
          <ul>
            <li>DEPORTES ITEM 1</li>
            <li>DEPORTES ITEM 2</li>
          </ul>
        </div>
      </li>

      <li class="menu-toggle">
        <a href="#"><img class="centerElem" src="../images/menuImage.png"></a>
      </li>

      <div class="nav-menu-list visibility">
        <ul class="">
          <li><a href="">INGRESAR</a></li>
          <li><a href="">REGISTRARSE</a></li>
          <li><a href="">FAVORITOS</a></li>
        </ul>
      </div>

      <li class="nav-cart nav-cart-group">
        <a href="#">
          <div class="centerElem">
            <img class="cartIcon" src="../images/cartImage.png">
            <span class="badge cartBadge">2</span>
            <p class="colorWhite">$1059.90</p>
          </div>
        </a>
      </li>

      <div class="nav-cart-list nav-cart-group visibility">
        <ul class="nav-cart-head">
          <li>Productos</li>
          <li>Cantidad</li>
          <li>Precio</li>
        </ul>
        <ul class="nav-cart-body">
          <li>
            <p class="nav-cart-title">Reloj Apple watch</p>
            <p class="nav-cart-desc">Lorem ipsum dolor sit amet</p>
          </li>
          <li>1</li>
          <li>$ 659.00</li>
        </ul>
        <ul class="nav-cart-body">
          <li>
            <p class="nav-cart-title">Mortero de madera</p>
            <p class="nav-cart-desc">Lorem ipsum dolor sit amet</p>
          </li>
          <li>1</li>
          <li>$ 400.90</li>
        </ul>
        <ul class="nav-cart-footer">
          <li>Total: $ 1059.90</li>
          <li>CONFIRMAR COMPRA</li>
        </ul>
      </div>

      <li class="nav-signIn">
        <a href="#">
          <div class="centerElem">
            <img class="userIcon" src="../images/userIconImage.png">
            <p>INGRESAR</p>
          </div>
        </a>
      </li>

      <div class="nav-signIn-dropdown visibility">
          <div class="nav-signIn-inputs row col-md-12 no-padding">
  
            <div class="col-md-2 no-padding">
              <img class="fb-sign-icon" src="../images/fbIcon.png">
            </div>
            <div class="col-md-4 no-padding">
              <img class="email-rectangle-icon" src="../images/rectangleIcon.png">
              <input class="signIn-password" type="text" placeholder="Ingresa tu E-mail">
            </div>
            <div class="col-md-4 no-padding">
              <img class="pass-rectangle-icon" src="../images/rectangleIcon.png">
              <input class="signIn-password" type="password" placeholder="Ingresa tu contraseña">
            </div>
            <div class="col-md-2 no-padding">
              <img class="lostpass-icon no-padding" src="../images/unknownIcon.png">
            </div>
          </div>
          <ul class="nav-signIn-buttons">
            <li><a href="#">INGRESAR</a></li>
            <li data-toggle="modal" data-target="#registerModal"><a href="#" >REGISTRARSE</a></li>
          </ul>
        </div>
    </ul>

    <!-- END HEADER -->

    <!-- COVER PAGE -->

    <div class="coverPageContainer">
      <div class="coverPageDiv">
        <h1 class="coverPageTitle">Ofertas de la semana</h1>
        <p class="coverPageText">No te pierdas la selección de ShopStop de esta semana y llévate <br> lo que estabas buscando a un precio promocional.</p>    
      </div>
    </div>

    <!-- END COVER PAGE -->

    <!-- PRODUCT SEARCH -->

    <div class="row">
      <div class="col-md-4 productSearchLeft">
        <div class="col-md-10 offset-md-1">
          <p>DEPORTES | CALZADO | FÚTBOL</p>
          <h2 class="productSearchName">BOTINES NIKE</h2>
          <p>3876 resultados</p>

          <div class="productSearchHR"></div>

          <div class="genderDiv">
            <p>Adultos</p>
            <p>Niños</p>
          </div>

          <div class="productSearchHR"></div>

          <div class="typeDiv">
            <p class="productSearchMiniTitle">TIPO</p>
            <p>Con Tapones <span>(2.357)</span></p>
            <p>Papi Fútbol '' Indoors <span>(1.451)</span></p>
  
            <p class="productSearchMiniTitle margin-top-20">Otros (58)</p>
          </div>

          <div class="productSearchHR"></div>

          <div class="markDiv">
            <p class="productSearchMiniTitle">MARCA</p>
            <p>Nike <span>(3.976)</span></p>
          </div>

          <div class="productSearchHR"></div>

          <div class="sizeDiv">
            <p class="productSearchMiniTitle">TALLE</p>
            <div class="row">
              <div class="col-md-2">38</div>
              <div class="col-md-2">39</div>
              <div class="col-md-2">39.5</div>
              <div class="col-md-2">40</div>
              <div class="col-md-2">40.5</div>
            </div>
            <div class="row">
              <div class="col-md-2">41</div>
              <div class="col-md-2">41.5</div>
              <div class="col-md-2">42</div>
              <div class="col-md-2">42.5</div>
              <div class="col-md-2">43</div>
            </div>
            <button class="account-panel-btn-2 productSearchBtn">VER TODOS</button>
          </div>

          <div class="productSearchHR"></div>

          <div class="colorsDiv">
            <p class="productSearchMiniTitle">COLOR PRIMARIO</p>
            <div class="productSearchColor" style="background-color: black;"></div>
            <div class="productSearchColor" style="background-color: orange;"></div>
            <div class="productSearchColor" style="background-color: grey;"></div>
            <div class="productSearchColor" style="background-color: yellow;"></div>
            <div class="productSearchColor" style="background-color: green;"></div>
            <div class="productSearchColor" style="background-color: pink;"></div>
            <div class="productSearchColor" style="background-color: red;"></div>
            <div class="productSearchColor" style="background-color: #ccc;"></div>
            <div class="productSearchColor" style="background-color: black;"></div>
            <div class="productSearchColor" style="background-color: purple;"></div>
          </div>

          <div class="productSearchHR"></div>

          <div class="priceDiv">
            <p class="productSearchMiniTitle">PRECIO</p>
            <p>Hasta <span>1500$</span> <span>(1.051)</span></p>
            <p><span>1500$</span> a <span>2500$</span> <span>(1.281)</span></p>
            <p><span>1500$</span> a <span>2500$</span> <span>(1.281)</span></p>
            <p>Más de <span>2500$</span> <span>(1.534)</span></p>
          </div>

          <div class="buttonsDiv row">
            <button class="btn btn-secondary valuesBtns">Mínimo</button>
            <button class="btn btn-secondary valuesBtns">Máximo</button>
          </div>
        </div>

      </div>

      <div class="productSearchRight col-md-8">
        <div class="productFollowingContainer height-auto col-md-12 no-padding">
          <div class="followingWrap col-md-12 no-padding">
            <div class="followingSmallSection col-md-8 no-padding float-left">
              <div class="productWrap col-md-6 no-padding float-left">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="followingLargeSection col-md-4 no-padding float-right">
              <div class="productWrap col-md-12 no-padding rightBorder">
                <div class="productImage">
                  <img src="../images/productGuitarImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Gibson Les Paul</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="followingLargeSection col-md-4 no-padding float-left bottomBorder">
              <div class="productWrap col-md-12 no-padding">
                <div class="productImage">
                  <img src="../images/productGuitarImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Gibson Les Paul</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
            </div> 
    
            <div class="followingSmallSection col-md-8 no-padding float-right">
    
              <div class="productWrap col-md-6 no-padding float-left">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left rightBorder">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left bottomBorder">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
    
              <div class="productWrap col-md-6 no-padding float-left rightBorder bottomBorder">
                <div class="productImage">
                  <img src="../images/productGlassImage.png">
                </div>
                <div class="productDescription">
                  <p class="productSmallName">Ray-Ban aviators</p>
                  <p class="productSmallText">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="followingButtons">
                  <div class="followingPlusBtn"><img src="../images/plusIconImage.png"></div>
                  <div class="followingPlusDropdown visibility">
                    <div class="followingShareBtn"><img src="../images/shareIconImage.png"></div>
                    <div class="followingFavBtn"><img src="../images/favoriteIconImage.png"></div>
                    <div class="followingPlayBtn"><img src="../images/playIconImage.png"></div>
                    <div class="followingPlayBtnWhite visibility"><img src="../images/playIconImageWhite.png"></div>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <div class="text-center margin-bottom-100">
            <button><a href="">VER MÁS</a></button>
        </div>
        
      </div>
    </div>

    <!-- END PRODUCT SEARCH -->

    <!-- NEWSLETTER -->

    <div class="newsletterContainer">
      <div class="newsletterWrapContent">
        <span>NEWSLETTER</span>
        <img src="../images/rectangleIcon.png">
        <input type="text" placeholder="Ingresa tu dirección de Email">
        <button href="#" class="newsletterSendBtn"><a href="#"> ENVIAR </a></button>
      </div>
    </div>

    <!-- END NEWSLETTER -->


    <!-- FOOTER -->

    <div class="footer">
      <div class="footerMobile">
        <div>
          <img class="footerShopStopLogo" src="../images/shopStopGreyLogo.png">
          <a href="#"><img class="footerMercadoPagoLogo float-right" src="../images/mercadoPago.png"></a>
        </div>
        <p class="footerTitle">SOBRE NOSOTROS</p>
        <p class="paragraph">Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametLorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
      </div>

      <div class="footerDesktop">
        <div class="footerShopStop">
          <div>
            <img class="footerShopStopLogo" src="../images/shopStopGreyLogo.png">
          </div>

          <div>
            <span>&nbsp;</span>
            <br>
            <p>LO ÚLTIMO &nbsp;&nbsp;&nbsp;&nbsp;+<p>
            <p>HOGAR &nbsp;&nbsp;&nbsp;&nbsp;+<p>
            <p>TECNO &nbsp;&nbsp;&nbsp;&nbsp;+<p>
            <p>MODA &nbsp;&nbsp;&nbsp;&nbsp;+<p>
            <p>HOBBIES &nbsp;&nbsp;&nbsp;&nbsp;+<p>
            <p>DEPORTES &nbsp;&nbsp;&nbsp;&nbsp;+<p>
          </div>
        </div>

        <div class="footerAboutUs">
          <p class="footerTitle">SOBRE NOSOTROS</p>
          <p class="paragraph">Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
          <p class="paragraph">Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametLorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet.</p>
        
          <div>
            <a href="#"><img class="footerMercadoPagoLogo" src="../images/mercadoPago.png"></a>
            <a href="#"><img class="footerFbLogo" src="../images/fbLogoGray.png"></a>
            <a href="#"><img class="footerTwitterLogo" src="../images/twitterLogoGrey.png"></a>
            <a href="#"><img class="footerGmailLogo" src="../images/gmailLogoGrey.png"></a>
            <a href="#"><img class="footerYoutubeLogo" src="../images/youtubeLogo.png"></a>
          </div>
        </div>

        <div class="footerContactInfo">
          <div>
            <p class="footerTitle">CONTACT <b>INFO</b></p>

            <div class="footerContactContent">
              <img src="../images/gpsGray.png">
              <div>
                <p><span>SHOP</span>STOP</p>
                <p>Freire 3478, Buenos Aires</p>
              </div>
            </div>

            <div class="footerContactContent">
              <img src="../images/phoneGray.png">
              <div>
                <p>PHONE</p>
                <p>+5411 6254 4389</p>
              </div>
            </div>

            <div class="footerContactContent">
              <img class="footerEmailIcon" src="../images/emailGray.png">
              <div>
                <p>EMAIL</p>
                <p>info@stopshop.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerCopyright">
      <p>&copy; &nbsp; 2017 - StopShop. Todos los derechos reservados.</p>
      <p>Powered by</p>
      <img src="../images/vertigoLogo.png">
      <p>vertigo design co</p>
    </div>

    <!-- END FOOTER -->


    <!-- REGISTER MODAL -->

    <div id="registerModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">REGÍSTRATE USANDO TUS REDES</h4>
            <div>
              <a href="#"><img class="modal-icon" src="../images/googleIcon.png"></a>
              <a href="#"><img class="modal-icon" src="../images/fbIcon2.png"></a>
              <a href="#"><img class="modal-icon" src="../images/twitterIcon.png"></a>
            </div>
          </div>
          <div class="modal-hr"></div>
          <div class="modal-body">
            <h4>O CREA TU CUENTA</h4>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Email">

            <p>FECHA DE NACIMIENTO</p>
            <input class="col-md-3" type="number" placeholder="Día">
            <input class="col-md-3" type="number" placeholder="Mes">
            <input class="col-md-3" type="number" placeholder="Año">

            <div class="checkbox-inputs col-md-12">
              <span>GENERO: </span>
              <input id="femaleCheck" type="checkbox" name="genero"><label>Femenino</label>
              <input id="maleCheck" type="checkbox" name="genero"><label>Masculino</label>
            </div>

            <input type="text" placeholder="DNI">
            <input id="registerPhone" type="number" placeholder="Teléfono">

            <div class="offers-div checkbox-inputs col-md-12">
              <input type="checkbox"><label>Quiero recibir ofertas y noticias sobre productos.</label>
            </div>

            <div class="register-btn-div col-md-12">
              <button class="registerBtn"><a href="#">REGISTRARME</a></button>
              <span>Si ya tenés una cuenta, por favor ingresá haciendo <a href="#">CLICK AQUÍ</a></span>
            </div>

          </div>


          <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
        </div>

      </div>
    </div>

    <!-- END REGISTER MODAL -->

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../libs/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../js/script.js"></script>

  </body>

</html>